body, html {
  margin: 0;
}

.container {
  padding: 8px;
}

li {
  list-style-type: none;
  line-height: 28px;
}

ul {
  padding: 0 16px;
}

.main-img {
  background: url(../img/img8.jpg);
  width: 100%;
}

.weather img {
  width: 100%;
}

.time {
  font-weight: bolder;
  padding-right: 8px;
}

.icon {
  width: 40px;
}

.sub-title {
  display: flex;
  padding-top: 16px;
}

.border {
  border-bottom: #dfdfdf 1px solid;
  padding: 16px 0;
  width: 90%;
  height: 1px;
  margin: 0 auto;
}

footer {
  width: 100%;
  height: 120px;
  display: flex;
  background: #333;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer span {
  color: #fff;
}

footer span:nth-child(2) {
  font-size: 14px;
}
