li {
  list-style-type: none;
}

ul {
  padding: 0 16px;
}

.main-img {
  background: url(../img/img8.jpg);
  width: 100%;
}

.weather img {
  width: 100%;
}

.time {
  font-weight: bold;
}

.icon {
  width: 40px;
}

.sub-title {
  display: flex;
  padding-top: 16px;
}

.border {
  border-bottom: #dfdfdf 1px solid;
  padding: 16px 0;
  width: 90%;
  height: 1px;
  margin: 0 auto;
}
